body{
    background-color: #BBA14F;
    color: black;
}
.Web-Desc{
    text-align: center;
    font-family: sans-serif;
}
.title h1{
    text-align: center;
    font-family: sans-serif;
    padding-top: 20px;
}
.member{
    width: 373px;
    height: 417px;
}
.creators{
    display: flex;
    justify-content: space-evenly;
}
.desc{
    font-family: sans-serif;
    text-align: center;
}
.Logo img{
    align-items: center;
    justify-content: space-evenly;
    width: 360px;
    height: 240px;
}