main{
    display: grid;
    grid-template-columns: 1fr 1800px 1fr;
    width: auto;
    align-items: center;
    margin: auto;
}



.row{
    display: flex;
    height: 200px;
    overflow: hidden;
    padding: 18px;
}


body{
    background-color: #F3F4ED;
}

.column img{
    opacity: 0.8;
    cursor: pointer;
    width: 450px;
    height: 200px;
    object-fit: cover;
    display: block;
    padding-right: 10px;
}

.column img:hover{
    opacity: 1;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.gallery-container{
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
}

.gallery-container img{
    padding-left: 960px;
}

#imgText{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

#imgtext{
    text-align: center;
    font-size: 35px;
    color: black;
    padding: 12px;
}

#expandedImg{
    padding-top: 30px;
    width: 1000px;
    height: 513px;
}
