body{
    background-color: #BBA14F; 
}
.container{
    display: flex;
    justify-content: center;
}
.image{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.image img{
    height: 200px;
    width: 360px;
}
.back-image img{
    width: 1920px;
    height: 360px;
}
.Heading{
    text-align: center;
}
.Heading h1{
    font-family: sans-serif;
}