body{
   background-color: #F3F4ED; 
}
.title{
    text-align: center;
    font-family: sans-serif;
}
.bgimg{
    position: relative;
    text-align: center;
    color: white;
}
.IMGText{
    position: absolute;
    left: 226px;
    top: 149px;
    font-family: sans-serif;
}
.container img{
    width: 60%;
}
.text{
    text-align: center;
    color: black;
    font-family: sans-serif;
}
.text a{
    text-decoration: none;
    color: black;
}
.bgimg img{
    width: 100%;
    
}
.Bikes{
    display: flex;
    justify-content: space-evenly;
}