legend{
    display: block;
    padding-left: 2vw;
    padding-right: 2vw;
    border: none;
    background-color: #536162;
    color: #F3F4ED;
}
.Order{
    background-color:#F3F4ED;
}

label{
    padding: 10px 5px;
}

.input{
    -webkit-appearance: none;

  width: 100%;
  max-width: 425px;

  /* Fix for Safari/iOS date fields */
  min-height: calc(0.9em + (0.8em * 2) + 0.6em);

  padding: 0.8em;
  font-size: 0.9em;
  font-family: "Source Sans Pro", sans-serif;

  outline: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background: #f9f9f9;
  transition: background 0.25s, border-color 0.25s, color 0.25s;
}

select{
    padding: 20px 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9;
    transition: background 0.25s, border-color 0.25s, color 0.25s;
 }
 .submit_button {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    padding: 10px 16px;
    margin: 10px 0;
  
    color: #ffffff;
    background: #14b64a;
    border: 2px solid #0fa942;
    border-radius: 5px;
  
    cursor: pointer;
    outline: none;
  }