legend{
    display: block;
    padding-left: 2vw;
    padding-right: 2vw;
    border: none;
    background-color: #536162;
    color: #F3F4ED;
}
.banner{
    position: relative;
    width: 100%;
}
.banner .bg{
    display: block;
    width: 100%;
}
.Order{
    background-color:#F3F4ED;
}

span{
    color: red;
}

label{
    padding: 10px 5px;
}

input, select{
    -webkit-appearance: none;
    width: 100%;
    max-width: 450px;
    min-height: calc(0.9em + (0.8em * 2) + 0.6em);
    padding: 0.8em;
    font-size: 0.9em;
    font-family: sans-serif;
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9;
}

 .submit_button {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    padding: 10px 16px;
    margin: 10px 0;
    color: #ffffff;
    border-radius: 5px;
    background: #14b64a;
    border: 2px solid #0c8133;
    cursor: pointer;
    outline: none;
  }

  .submit_button:active{
    transform: scale(0.9) translate(0,0);
  }