@media all and (max-width: 1000px){
    
}

@media all and (max-width: 670px){
    .Bikes{
        flex-direction: column;
    }
    .Container{
        flex-direction: column;
     }
    .banner .bgimg{
        height: 60vh;
    }
    div{
        font-size: 10vw;
    }
   .banner .back-image{
       height: 60%;
   }
   
}