@media all and (max-width: 1000px){
    
}

@media all and (max-width: 670px){
    .Bikes{
        flex-direction: column;
    }
    .banner .bgimg{
        height: 50%;
    }
    div{
        font-size: 10vw;
    }
   
}