body{
    background-color: #F3F4ED; 
}
.container{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
}
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image img{
    width: 70%;
    height: 200px;
}
.back-image img{
    width: 100%;
    height: 350px;
}
.Heading{
    text-align: center;
}
.Heading h1{
    font-family: sans-serif;
}

