.Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: 100%;
}
.Bikes-text{
    text-align: center;
}

.desc{
    text-align: center;
}

.back-image img{
    width: 100%;
    height: 40vh;
}
.Heading{
    text-align: center;
}
.Heading h1{
    font-family: sans-serif;
}

